html,body {
    margin: 0;
    height: 100%;
}
body {
    background-color: black; 
}
#arrow {
    color: white;
}
a {
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
} 
button {
    border: none;
    cursor: pointer;
    color: #96afe0; 
    background-color: black;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    background-color: white;
}
#arrow {
    margin-left: 24px;
}
#maindiv1 {
    padding-bottom: 94px;
}
#maindiv2 {
    padding-bottom: 94px;
}
#maindiv3 {
    padding-bottom: 94px;
}
#div1 {
    position: absolute;
    width: 50%;
    height: 94px;
}
#div2 {
    text-align: center;
    color: #96afe0;
}
#div_dealer {
    text-align: center;
    color: #96afe0;
}
#div3 {
    position: absolute;
    width: 50%;
    height: 94px;
    margin-left: 50%;
}
#div4 {
    text-align: center;
    color: #96afe0;
}
#div_player {
    text-align: center;
    color: #96afe0;
}
#div5 {
    position: absolute;
    width: 50%;
    height: 1292px;
}
#div6 {
    text-align: center;
}
#div7 {
    position: absolute;
    width: 50%;
    height: 1292px;
    margin-left: 50%;
}
#div8 {
    text-align: center;
}