html,body {
    margin: 0;
    height: 100%;
}
body {
    background-color: #000; 
}
.a {
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
}
.b {
    margin-top: 10px;
}
.arrow {
    text-decoration:none; 
    color: white;
    font-size: 80px;
    margin-left: 24px;
    padding: 0;
    position: absolute;
}
.arrow:hover {
    color: #96afe0;
}
button {
    border: none;
    cursor: pointer;
    color: #fff; 
    background-color: #000;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    background-color: #fff;
}
#div1, #div3 {
    margin-top: 188px;
}
#maindiv4, #maindiv5 {
    margin-top: 188px;
}
#maindiv1 {
    padding-bottom: 94px;
}
#maindiv2 {
    padding-bottom: 94px;
}
#maindiv3 {
    padding-bottom: 94px;
}
#div1 {
    position: absolute;
    width: 50%;
    height: 94px;
}
#div2 {
    text-align: center;
    color: #fff;
}
#b {
    border: solid #fff 2px;
    border-radius: 10px;
    padding-right: 16px;
    padding-left: 16px;
}
#b2 {
    border: solid #fff 2px;
    border-radius: 10px;
    padding-right: 16px;
    padding-left: 16px;
}
#b:hover,#b2:hover {
    color: #96afe0;
    border: solid #96afe0 2px;
}
#div_dealer {
    text-align: center;
    color: #fff;
}
#div3 {
    position: absolute;
    width: 50%;
    height: 94px;
    margin-left: 50%;
}
#div4 {
    text-align: center;
    color: #fff;
}
#div_player {
    text-align: center;
    color: #fff;
}
#div5 {
    position: absolute;
    width: 50%;
    height: 1292px;
}
#div7 {
    position: absolute;
    width: 50%;
    height: 1292px;
    margin-left: 50%;
    
}
#div6 {
    margin-left: 20px;
}
#div8 {
    margin-left: 20px;
}
@media(max-width: 1000px) {
    #div6 {
        margin-left: none;
    }
    #div8 {
        margin-left: none;
    }
}