html,body {
    margin: 0;
    height: 100%;
}
body {
    background-color: black;
}
#maindiv {
    position: absolute;
    width: 100%;
    text-align: center;
}
#a1 {
    text-decoration:none; 
    color: white;
    font-size: 80px;
    margin-left: 24px;
    float: left;
}
#a2 {
    text-decoration:none;
    color: #96afe0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    margin-right: 104px;
    margin-top: 20px;
}
#a3 {
    text-decoration:none;
    color: #96afe0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
}