* {
    text-decoration: none;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
a {
    font-size: 80px;
}
#maindiv {
    width: 100%;
    text-align: center;
}
#a1 {
    color: #fff;
    margin-left: 24px;
    float: left;
    position: absolute;
}
#a1:hover {
    color: #96afe0;
}
#a2 {
    color: #96afe0;
}
#a2:hover {
    color: #fff;
}
@media (max-width: 768px) {
    a {
        font-size: 120px;
    }
    #a1:hover {
        color: #fff;
    }
    #a2:hover {
        color: #96afe0;
    }
}