* {
    background-color: #000;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
a {
    color: #96afe0;
    font-size: 80px;
}
a:hover {
    color: #fff;
}
#maindiv {
    text-align: center;
    width: 100%;
    padding-top: auto;
}
#welcome {
    color: #fff;
}
@media (max-width: 768px) {
    a {
        font-size: 120px;
    }
    a:not(#welcome):hover{
        color: #96afe0;
    }
}