* {
    text-decoration: none;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
#maindiv {
    width: 100%;
}
a {
    color: #fff;
    font-size: 80px;
}
#spaces {
    margin-top: 64px;
    text-align: center;
}
#arrow:hover {
    color: #96afe0;
}
._button {
    width: 180px;
    height: 180px;
    margin: 20px;
    background-color: #808080;
    border: none;
}
#heading {
    text-align: center;
    width: 100%;
}
#number {
    padding-right: 88px;
}
#arrow {
    float: left;
    margin-left: 24px;
}
@media (max-width: 768px) {
    a {
        color: #fff;
        font-size: 40px;
    }
    #arrow:hover {
        color: #fff;
    }
    ._button {
        width: 70px;
        height: 70px;
        margin: 8px;
        background-color: #808080;
        border: none;
    }
    #_22,#_23,#_24 {
        margin-bottom: 0;
    }
    #spaces {
        margin-top: 24px;
    }
    #arrow {
        text-align: center;
        text-decoration: none;
        float: left;
        margin-left: 24px;
    }
    #heading {
        text-align: center;
        width: 100%;
    }
    #number {
        padding-right: 58px;
    }
  }