html,body {
    margin: 0;
    height: 100%;
}
body {
    background-color: black;
    text-align: center;
}
#a_1 {
    text-decoration:none; 
    color: white;
    font-size: 80px;
    margin-left: 24px;
    float: left;
}
#a_1:hover {
    color: #96afe0;
}
#audio2, #audio3 {
    margin-top: 92px;
}
#audio1 {
    padding-top: 188px;
}
#maindiv {
    width: 100%;
    text-align: center;
    position: absolute;
}
#new {
    background-color: #000;
}
a,p {
    text-align: center;
    color: white;
    font-size: 80px;
    margin-left: 24px;
}
.link:hover {
    color: #96afe0;
}