body {
    background-color: black;
    text-align: center;
    align-items: center;
}

a {
    text-decoration:none;
    color: #96afe0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
}

#welcome {
    color: white;
}

#menu {
    text-align: left;
}

#achange {
    color: white;
    float: left;
}

#achange2 {
    float: center;
    padding-right: 102.23px;
}

p {
    color: white;
}

button {
    height: 150px;
    width: 150px;
    border: none;
    background: grey;
    cursor: pointer;
}

#bodychange {
    padding-top: 92px;
}
