button {

    
    cursor: pointer;
    font-size: 40px;
    padding: 80px;
    


}



header{
  color: white;
}

body{
  background-color: black;

  text-align:center;
  
}

